/*  Theme Color */
a:hover,a:focus,
.serprator-holder h2,
.navigation li a,
.cr-about h2,
.services-panal span,
.b-color,
.copyright a,
.team-info h3,
.team-icon span,
.cr-counter i,
.s-style-2 h3,
.s-style-2 .theme-btn.filled:hover,
.form-holder h3,
.title-holder,
.projects-facts ul li:before,
.team-info2 strong,
.blog-grid .blog-artical h3 a,
.blog-grid .blog-artical .theme-btn:hover,
.title-holder a,
.auther-info strong a,
.categories li:before,
.progress.vertical .progress-bar,
.service-catg li:before,
.test-slider .owl-nav div:hover:after,
.s-style-2:hover span,
.navbar-toggle,
.contact-detail li h5,
.contact-detail li p,
.primary-header-2 .social-icons li a,
.main-nav-2 > ul > li > ul li a,
.nav-style-3 .navigation li .dropdown-menu li a,
.header-style-3 .primary-header .top-right-side ul li,
.res-navigation li a,
.login-holder ul li a,
.modal-btn .theme-btn:hover,
.login-modal .nav h4,
.modal-social > span,
.login-form .reg i,
.error h2,
.home-2-login,
.client-reviews blockquote q,
.search-form li > a,
.social-style-2 li:hover a
{ color: #5b3d2b;} 

/* Theme Backgroung Color */
.p-bg-color,
.primary-header,
.navigation .dropdown-menu li a:hover,
.team-hover .info,
.team-icon span:hover,
.services-tabs li a i,
.s-style-2 .theme-btn.filled,
.cr-contact-details,
.title-holder:before,
.owl-prev,.owl-next,
.cr-pagination ul li.active a,
.cr-pagination ul li a:hover,
.blog-grid .blog-artical .theme-btn,
.blog-s-icons li a:hover,
.c-social li a:hover,
.progress-skill:after,
.progress-skill .font-icon:before,
.radio-box li label.highlight,
.radio label::after,
.progress-icons li,
.main-nav-2,
.main-nav-2 > ul > li > ul li a:hover,
.res-navigation li a:hover,
.modal-header,
.faqs-area [aria-expanded="true"] h4,
.modal-btn .theme-btn,
.cr-filterbale-nav li a:after,
.social-icon-holder li a:hover,
.owl-dots .owl-dot,
.navigation > li > ul li a:hover,
.navigation > li.active > ul li.active a,
.banner-section,
.search-form form a,
.box-icon,
.bx-wrapper .bx-pager  .bx-pager-item .bx-pager-link,
.blog-gallery ul li:nth-child(even) a,
.skill-bar,
.per,
.social-style-2 li a,
.header-1 .sticky-wrapper.is-sticky .nav-holder,
.project-overlay ul li a:hover,
.pagination li.active a:hover
{ background: #666666;}

/* Theme Border Color */


.banner-content h3,
.form-control:focus,
.banner-paralax,
.s-style-2 .theme-btn.filled,
.cr-pagination ul li.active a,
.cr-pagination ul li a:hover,
.blog-grid .blog-artical .theme-btn,
.qoute,
.faqs-dsc,
.modal-btn .theme-btn,
.social-style-2 li a,
.pagination li.active a:hover
{ border-color: #5b3d2b;}

/* THeme Basic Rgba */
.overlay-brown::before,.test-head
{ background: rgba( 91,61,43,0.8);}

.caption-holder-2 span:after,
.header-style-3 .nav-style-3
{ background: rgba( 91,61,43,0.7);}

.tparrows.preview3 .tp-arr-iwrapper
{ background: rgba( 91,61,43,0.4);}

.client-area > h3 
{ background: rgba( 91,61,43,0.9);}


/*.form-control:focus{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,61,43,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,61,43,0.6);
}*/