/*
  [Master Stylesheet]
 @Author: Theme786
 @URL: http://Theme786.com
 version: 1.1
 Last change: 3/7/2019[set table of centent]
 This file contains the styling for the actual theme, this
 is the file you need to edit to change the look of the
 theme.
 However we used Less script to make things easy to maintain, this is the compressed ourput, we recommend to edit the less files and then recombile the files and add the result here, if you don't like to use less you can edit this file here.
 
 This files contents are outlined below.
 01.	Google Font
 02.	Import Other Css
 03.	Theme Reset Style
 04.	Global Elements
*/

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header         /      #header
3. Navigation     /      #nav-holder
4. Slider         /      #tp-banner-container
5. Content       /       #main-content
6. Footer        /       #footer
7. Slide Menu    /       #res-menu
8. login modal   /       #login-modal
9. Service       /       #services-tab
10.Testtimonial holder/  #client-area
11.project filter /      #cr-filterbale-nav
12.BLog           /      #project-overlay
13.map holder     /
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
# [Color codes]



# lite brown (header) #e0a344
# Brown (top navigation) #5b3d2b
# Mid grey: #666666
# */


/****** Theme Reset Style ******/
body{ background: #fff; color: #777; font-size: 14px;font-family: 'Lora', serif;font-weight: normal;}
body h1, body h2, body h3, body h4, body h5, body h6 { font-family: 'Lora', serif; color: #333; margin: 0 0 15px;font-weight: bold;text-transform: capitalize;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{ color: #333;}

p{ letter-spacing: 0.7px; margin-bottom: 15px; font-size: 14px; font-family: 'Lora', serif;
font-weight: 400;}
p a{ color: #333;}
p a:hover{ text-decoration:underline; outline: none;}

a{ color: #777; text-decoration: none; outline: none; display: inline-block;}
a:hover, a:focus, a:active { outline: none; text-decoration: none;}

.row.no-gutters{ margin-right: 0; margin-left: 0;}
.row.no-gutters [class*="col-"]{ padding-right: 0; padding-left: 0;}

.m-0{ margin: 0!important;}
.p-0{ padding: 0!important;}
.p-m-0 p{margin: 0;}
.mb-30{margin-bottom: 30px;}
.border-0{ border: 0!important;}

img{ max-width: 100%;}
iframe{ border: 0; width: 100%;}

blockquote{ padding: 0; border: 0;}

label { display: block; font-weight: 400; margin: 0;}

textarea.form-control{ border-radius: 3px; background: none; resize: none;border: 1px solid #fff; box-shadow: none;}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input{ border: 1px solid #fff; height: 45px; border-radius:0; background: none; line-height: 40px;padding: 0 10px;border-radius: 3px; box-shadow: none;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;}
.form-control::-moz-placeholder{ color: #777;}
.form-control::-webkit-input-placeholder{ color: #777;}
.main-content{overflow: hidden;}
.form-control:focus{box-shadow: none;}

.font-mont{font-family: 'Montserrat', sans-serif;}
/****** Global Elements ******/

.social-icons{ margin: 0; padding: 0; list-style: none;}
.social-icons li{ display: inline-block; width: 40px; height: 40px;text-align: center;line-height: 40px; }
.social-icons li:first-child{ margin: 0;}
.social-icons li a{border-radius: 4px;color: #fff; display: block; font-size: 16px; position: relative;z-index: 1;}
.social-icons li:hover a{ color: #fff !important;}
.social-icons:after{display: block;clear: both;content: '';}

.rating-stars ul li{ float: left; margin: 0 0 0 7px;}
.rating-stars ul li:first-child{ margin: 0}
.rating-stars ul li i{ color: #f0bf2d;}
 .rating-stars ul:after{ content: ''; display: block; clear: both; }

.cr-display-table{ width: 100%; height: 100%; display: table;}
.cr-display-table-cell{ display: table-cell; vertical-align: middle; width: 100%; height: 100%;}

.overlay-dark,
.overlay-brown,
.overlay-gray,
.overlay-yellow{ position: relative;}
.overlay-dark::before,
.overlay-brown::before,
.overlay-gray::before,
.overlay-yellow:before{ content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: -1;}

.overlay-dark::before{background: rgba(0,0,0,0.8);}
.overlay-gray::before{ background: rgba( 242,242,242,0.9);}
.overlay-yellow:before{background:rgba(224,163,68,0.7);}

.position-center-center{ left: 50%; position: absolute; top: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);}

.position-center-x{ position: absolute; top: 50%;
-webkit-transform: translate(0, -50%);
-moz-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);}

.position-center-y{ left: 50%; position: absolute;
-webkit-transform: translate(-50%, 0);
-moz-transform: translate(-50%, 0);
-ms-transform: translate(-50%, 0);
transform: translate(-50%, 0);}

.font-italic{ font-style: italic}

.white-bg{ background: #fff;}
.gray-bg{ background: #f4f4f4;}
.text-white{ color: #fff;}
.font-bold{ font-weight: bold;}

.sm-btn-list{ margin: 0; padding: 0; list-style: none; overflow: hidden;}
.sm-btn-list li{ float: left; margin: 0 0 0 30px;}
.sm-btn-list li:first-child{ margin: 0;}

.navbar-brand{ height: auto; width: auto; padding: 0;}
.theme-padding-top{ padding-top: 80px;}
.theme-padding-bottom{ padding-bottom: 80px;}
.theme-padding{ padding: 80px 0;}
.mrg-left{margin-left:160px !important;}
.padding-0{ padding: 0!important;}
.theme-margin-top{ margin-top: 80px;}
.theme-margin-bottom{ margin-bottom: 80px;}
.theme-margin{ margin: 80px 0;}
.margin-0{ margin: 0!important;}

.text-left{ text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}

.read-more{ font-style: italic; text-transform: capitalize;font-weight: bold; color: #777;}

.countdown{ list-style: none; margin: 0; padding: 0; display: block; text-align: center; overflow: hidden;}
.countdown li{ text-align: center; float: left; margin: 0 0 0 20px;}
.countdown li:first-child{ margin: 0;}
.countdown li{ background: #fff; color: #1e181c; border-radius: 2px; font-size: 30px; padding: 5px 20px; display: block; border: 1px solid; overflow: hidden;}
.countdown li p{ margin: 0; font-size: 14px; text-transform: uppercase; color: #9b756c;}

.btn-list{ margin: 0; padding: 0; list-style: none;}
.btn-list li{ float: left; margin: 0 0 0 30px;}
.btn-list li:first-child{ margin: 0;}

.hover-overlay{ position: absolute; top: 50%; left: 50%; width: 0; height: 0; text-align: center; visibility: hidden; opacity: 0;}
ul{ margin: 0; padding: 0; list-style: none;}

.serprator-holder{text-align: center;}
.s-h-1{text-align:left !important; padding-left:170px !important;}
.mrg{margin-left:50px;}
.serprator-holder h2{text-transform: capitalize;position: relative;padding: 0 40px;border-left: 1px solid #e0a344;border-right: 1px solid #e0a344;
display: inline-block;margin: 0 0 40px;}
.serprator-holder h2:after,
.serprator-holder h2:before{position: absolute;content: '';width: 150px;height: 1px;background:#e0a344;top:calc(50% - 2px);}
.serprator-holder h2:after{left: 100%;}
.serprator-holder h2:before{right: 100%;}

.theme-btn{border:1px solid #fff;border-radius: 3px;padding: 10px;position: relative;z-index: 1;text-transform: capitalize;font-weight: bold;color: #fff;}
.theme-btn:after,
.social-icons li a:after{position: absolute;top: 50%;left: 50%;width: 0; height: 0; content: ''; top: calc(50% - 2px); left: calc(50% - 2px); background:#e0a344; z-index: -1; border-radius: 3px; }
.theme-btn:hover:after,
.social-icons li a:hover:after{width: 100%; height: 100%; top: 0;left: 0;}
.theme-btn:hover{color: #fff;border-color: transparent;}

.theme-btn.filled{background:#e0a344; color: #fff;border-color:#e0a344;}
.theme-btn.filled:after{background:#fff;}
.theme-btn.filled:hover{color: #e0a344;}

.yellow-bg{background:#e0a344;}
.text-yellow{color:#e0a344 }
.m-b-30{margin-bottom:30px;}
.m-p-30{padding-bottom:30px;}

.font-icon:before{display: inline-block;font-family:FontAwesome; /*margin: 0 5px 0 0;*/}
.font-icon.chat:before{content:"\f075";}
.font-icon.user:before{content:"\f007";}
.font-icon.users:before{content: "\f0c0";}
.font-icon.pipe:before{content: "\f1a8";}
.font-icon.config:before{content: "\f013";}
.font-icon.wrench:before{content: "\f0ad";}
.font-icon.like:before{content: "\f087";}
.font-icon.dislike:before{content: "\f088";}
.font-icon.tag:before{content: "\f02c";}
.font-icon.paint:before{content: "\f1fc";}
.font-icon.paint:before{content: "\f1fc";}

.owl-nav{display: block;}
.owl-nav div{margin: 0 2px 0 0; cursor: pointer; text-align: center;line-height: 25px;border-radius: 3px;}
.owl-nav div:last-child{margin: 0;}
.owl-prev,.owl-next{display: inline-block !important;width: 25px;height: 25px;}
.owl-nav div:after{display: inline-block;font-family:FontAwesome;font-size: 16px;color: #fff;}
.owl-prev:after{content: "\f0d9";}
.owl-next:after{content: "\f0da";}
.owl-nav div:hover:after{color: #fff;}
.owl-nav div:hover{background: #e0a344;}

.owl-dots{ position: absolute; left: 0; width: 100%; bottom: -30px; text-align: center;}
.owl-dots .owl-dot { width: 10px; height: 10px; border-radius: 2px; display: inline-block; margin: 0 10px 0 0; }
.owl-dots .owl-dot.active {background:#e0a344; }

.title-holder{border-top: 1px solid #e0a344;padding: 10px 0;position: relative;}
.title-holder:before{position: absolute;height: 2px;width: 60px;left: 0;bottom: 0;content: '';}

.wrapper { overflow: hidden; }
/****** Home Page 1 ***********************************************************
*********************************************************** Home Page 1 ******/
.top-left-side{float: left;}
.top-right-side{float: right;}
.top-right-side ul li{display: inline-block;}
.top-right-side ul li:last-child{margin: 0;}
.primary-header:after{content: '';display: block;clear: both;}
.top-right-side li {line-height: 40px;color: #fff;margin: 0 20px 0 0;text-transform: capitalize; font-size: 12px;}
.top-right-side li i{margin:0 10px 0 0;font-size: 16px;}
.primary-header{padding:5px 0;}
.top-right-side ul li a{color: #fff;}

.header .nav-holder .logo { padding: 14.5px 0; }
.navigation > li{font-weight:bold;display: inline-block; position: relative; white-space: nowrap; margin: 0 10px 0 0; line-height: 29px;}
.navigation > li:last-child{margin: 0;}
.navigation > li > a{padding:25.5px 10px;text-transform: uppercase;font-size: 14px;position: relative;display: block;}
.nav-holder{background:#fff; position: relative; z-index: 100; -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.1); width: 100%;}
.navbar-toggle{cursor: pointer;font-size: 24px;margin: 0 15px 0 0;}
.nav-holder{background:#fff; position: relative;}
.nav-holder nav:after{content: ''; display: block;clear: both;}
/*hover style*/
.navigation > li > a:before,
.navigation > li > a:after{content: "";position: absolute;width: 0;height: 0;opacity: 0;}
.navigation > li > a:before{left: 0;top: 22px;border-top: 1px solid;border-left: 1px solid; }
.navigation > li > a:after{right: 0;bottom: 22px;border-right: 1px solid;border-bottom: 1px solid;}
.navigation > li:hover a:before,
.navigation > li:hover a:after,
.navigation > li.active a:after,
.navigation > li.active a:before{width:15px; height:15px;opacity: 1;}
/*hover style*/

/*dropdown menu*/
.navigation > li > ul{ list-style: none; margin: 0; padding: 0; top: 120%; border-radius: 0; position: absolute; width: 200px; 
 background: #fff; z-index: 10; visibility: hidden; opacity: 0;
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19); z-index: 100}
.cr-nav > ul > li > ul li{ position: relative; float: none; border-bottom: 1px solid #e1e1e1;}
.cr-nav > ul > li > ul li:last-child{ border: 0;}
.navigation > li > ul li a{ width: 100%; position: relative; padding:5px 15px; text-transform: capitalize;} 
.navigation > li > ul li a:hover,
.navigation > li.active > ul li.active a{ color: #fff;}
.navigation li:hover > ul{ visibility: visible; opacity: 1; z-index: 100; top: 100%;}

/*menu search bar*/
.search-form li > a {padding:30px 10px; position: relative;}
.search-form > li:last-child a {padding-right: 0;}
.search-form > li {position: relative; display: inline-block;}
.search-form li ul li{ position: relative; }
.search-form > li > ul{ list-style: none; margin: 0; padding: 10px; top: 120%; border-radius: 0; position: absolute; width: 300px; 
background: #fff; z-index: 10; right: 0; visibility: hidden; opacity: 0;
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19); z-index: 100}
.search-form .form-control { border: 1px solid #000; position: relative; }
.search-form form a{ position: absolute;top: 0; height: 100%; right: 0; color: #fff; padding: 0 15px; line-height: 45px; 
border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
.search-form > li:hover > ul { visibility: visible; opacity: 1; top: 100%; }

#map2 { height: 450px; width: 100%; }
.info-block { text-align: center; color: #fff; padding: 20px; display: block;}
.info-block i{ color: #fff; font-size: 22px; }
.info-block:nth-child(1),
.info-block:nth-child(2),
.info-block:nth-child(3){padding: 25px;}
.info-block:hover { opacity: 0.9; }
/*home main slider*/
.tp-banner-container{position: relative;width: 100%;padding: 0; overflow: hidden;}
.tp-banner-container .tp-banner { width: 100%; position: relative;}
.tp-banner ul li:before{position: absolute;content: '';left: 0;width: 100%;top: 0;height: 100%;
background: rgba(0,0,0,0.4);z-index: 1;}
.tp-caption a,.tp-caption a:hover{color: #fff;}
.tp-bannertimer{background: #e0a344!important;height: 5px;z-index: 99;}
/*home main slider*/

/*slider caption 1*/
.tp-caption .corner-border {display: block;width: 150px;height: 150px;}
.tp-caption .corner-border.left-top { border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;}
.tp-caption .corner-border.right-bottom {border-bottom: 1px solid #ffffff;border-right: 1px solid #ffffff;}
.caption-holder{text-align: center;font-family: 'Montserrat', sans-serif; width: 100%; z-index: 2;}
.tp-caption .caption h2{font-weight: bold;text-transform: capitalize;font-family: 'Montserrat', sans-serif;
margin: 0 0 10px;color: #fff;}
.tp-caption .caption p{font-family: 'Montserrat', sans-serif;color: #fff;}
.tp-caption .caption{ display: inline-block; text-align: center; position: relative;}
.tp-caption.one {width: 200px ; height: 200px;} 
.banner-section h3 { color: #fff; margin: 0 0 5px;}
.banner-section h3 span {color: #e0a344;}
.banner-section p{ color: #fff; font-size: 14px; margin: 0; display: inline-block; padding: 7px 0;}
.banner-section{padding: 30px 0;}
.banner-section .col-md-4 { text-align: right; margin-top: 10px; }
/*slider caption 1*/

/*slider caption 2*/
.header-1 .caption-holder{text-align: center;font-family: 'Montserrat', sans-serif; width: 100%; z-index: 2;}
.header-1 .caption-holder h2{font-weight: bold;text-transform: capitalize;font-family: 'Montserrat', sans-serif;margin: 0 0 10px;color: #fff;}
.header-1 .caption-holder p{font-family: 'Montserrat', sans-serif;color: #fff;}
.header-1 .caption{ display: inline-block; text-align: center; padding: 30px; position: relative;}
.header-1 .caption:after,
.header-1 .caption:before{content: "";position: absolute;width: 150px;height: 150px;}
.header-1 .caption:before{left: 0;top: 0;border-top: 1px solid #fff;border-left: 1px solid #fff; }
.header-1 .caption:after{right: 0;bottom:0;border-right: 1px solid #fff;border-bottom: 1px solid #fff;}
.header-1 .nav-holder .logo { padding: 9.5px 0; }
.header-1 { position: absolute;top: 0; left: 0; width: 100%; }
.header-1 .nav-holder { background:none; box-shadow: none;}
.header-1 nav > ul >li > a{color: #fff;}
#tp-banner2 .tp-bannertimer {display: none;}

.header-2 { position: absolute; left: 0; top: 0; width: 100%; }
.header-2 .nav-holder{ background: none; box-shadow: none;}
.header-2 .nav-holder .logo { padding: 14.5px 0; }
.header-2 .nav-holder .menu-link { color: #fff; font-size: 30px; }
.header-2 .search-form li > a { padding: 23.5px 0; }
/*slider caption 3*/
.caption-holder.caption-holder-3{padding: 30px;}
.caption-holder.caption-holder-3 h2{margin: 0;color: #fff;font-size: 26px;line-height: 40px;}
.caption-holder.caption-holder-3:after,
.caption-holder.caption-holder-3:before{width: 80%;height: 150px;}
.caption-holder{text-align: center;font-family: 'Montserrat', sans-serif;position: relative;display: inline-block;
padding: 20px;}
.caption-holder h2{font-weight: bold;text-transform: capitalize;font-family: 'Montserrat', sans-serif;margin: 0 0 10px;color: #fff;}
.caption-holder:after,
.caption-holder:before{content: "";position: absolute;width: 150px;height: 150px;}
.caption-holder:before{left: 0;top: 0;border-top: 1px solid #fff;border-left: 1px solid #fff; }
.caption-holder:after{right: 0;bottom:0;border-right: 1px solid #fff;border-bottom: 1px solid #fff;}
.holder{text-align: center;padding: 80px 0;}
/*slider caption 3*/ 

/*about us */
.cr-about h2{font-size: 34px;}
.cr-about h2 span{display: block; margin: 5px 0 0;}
.cr-about{text-align: center;}
.cr-about p{margin: 0;}

/*services tabs*/
.services-paralax .serprator-holder h2{color: #fff;border-color: #fff;}
.services-paralax .serprator-holder h2:after,
.services-paralax .serprator-holder h2:before{background:#fff;}
.services-paralax .serprator-holder p {color: #fff;}
.services-paralax ul li{text-align: center; position: relative; padding-bottom: 80px;}
.services-paralax ul li::after{ position: absolute; left: calc(50% - 35px); bottom: -25px; content: ''; border-style: solid; border-width: 0 25px 25px 25px;
border-color: transparent transparent #fff transparent; opacity: 0; visibility: hidden; -webkit-transition: all ease 0.5s; -moz-transition: all ease 0.5s; transition: all ease 0.5s;}
.services-paralax ul li.active::after{ opacity: 1; visibility: visible; bottom: 0; }
.services-paralax ul li.active a{color: #fff;background:#e0a344;border-color: #e0a344; }
.services-paralax ul li:last-child{margin: 0;}
.services-paralax ul li .theme-btn{width: 100%;font-weight: normal;}

.services-panal{text-align: center;}
.services-panal span{width: 70px; height:70px;display:inline-block;border-radius: 50%;line-height: 70px;font-size: 40px;margin: 0 0 30px;}
.services-panal p{text-align: center;} 
.services-panal h4{position: relative;display: inline-block;color: #777;font-weight: normal;text-transform: capitalize; margin: 0 0 27px;}
.services-panal h4:after,
.services-panal h4:before{position: absolute;background:#e0a344;width: 10px;height: 10px;content: ''; border-radius: 50%;top: calc(50% - 5px);}
.services-panal h4:after{left: -20px;}
.services-panal h4:before{right: -20px;}

/*testtimonial holder*/
.client-area{background: url('../images/test-bg.png'); background-size: cover;position: relative;}
.client-reviews:after{display: block; content: ''; clear: both;}
.client-area > h3 { width: 50%; text-align: right; padding:15px; text-transform: capitalize; color: #fff; font-size: 28px; margin: -35px 0 0 ;
 position: absolute;}
.test-img{margin: -50px 0 0;}
.client-reviews blockquote{ border: 0; margin: 0; padding: 80px 0 20px 0; font-size: 16px;}
.client-reviews blockquote q{ display: block; position: relative;}
/*.client-reviews blockquote q:before,
.client-reviews blockquote q:after{font-size: 36px;position: absolute;}
.client-reviews blockquote q:before { left: -5px; top: -10px; }
.client-reviews blockquote q:after{ right: -20px; bottom: -30px;}*/
.client-reviews .owl-nav {display: none;}
.client-reviews .client-name { text-align: right; }
/*project filter nav*/
.cr-filterbale-nav{text-align: center; margin: 0 0 40px; background: #e0a344}
.cr-filterbale-nav li{display: inline-block;text-transform: uppercase;margin:0 25px 0 0;position: relative;}
.cr-filterbale-nav li:last-child{margin: 0;}
.cr-filterbale-nav li a{font-size: 15px; color: #fff; padding: 10px 0; position: relative;}
.cr-filterbale-nav li a:after{position: absolute; left: 0; width:100%; height: 3px; content: ''; bottom: -7px;
visibility: hidden; opacity: 0;}
.cr-filterbale-nav li a.selected:after,
.cr-filterbale-nav li a:hover:after{visibility: visible;opacity: 1; bottom: -3px;}

/*home blog post*/
.blog-post{background: #fff;position: relative;}
.blog-img{position: absolute;left: 0;top: -40px;}
.blog-meta{margin: 0 0 10px;}
.blog-meta li{ display: inline-block; margin: 0 15px 0 0; text-transform: capitalize;}
.blog-meta li:last-child{margin: 0;}
.blog-detail h4{margin: 0 0 10px;}
.blog-section{ position: relative;}
.blog-detail{ background: #fff; margin: 40px 0 0 93px; padding: 20px 30px 20px 80px;
-webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);}
.blog-detail p:last-child{ margin: 0;}
.blog-meta .font-icon:before{margin: 0 5px 0 0;}
.blog-section:hover h4 a,
.blog-section:hover .read-more{color:#e0a344;}
.blog-section .blog-img ul li a{font-size: 14px;}

.blog-version-2 .blog-holder { background: #fff;}
.blog-version-2  .img-holder { padding: 5px ; padding-bottom: 0; margin: 0 0 15px;}
.artical { padding: 15px; padding-top: 0; }
.blog-gallery::after{ content: ''; display: block; clear: both; }
.blog-gallery:last-child { margin: 0; }
.blog-gallery .content h4 {font-size: 16px;}
.blog-gallery .content h4 ,
.blog-gallery .content p{margin: 0 0 10px;}
.bx-wrapper .bx-pager {bottom: initial!important; top: calc(50% - 30px); width: initial!important; text-align: initial!important;
 padding: 0; right: -35px; }
.bx-wrapper .bx-pager  .bx-pager-item { display: block; margin: 0 0 5px; border-radius: 2px;}
.bx-wrapper .bx-pager  .bx-pager-item .bx-pager-link{ border-radius: 2px;}
.bx-wrapper .bx-pager  .bx-pager-item .bx-pager-link.active{ background: #e0a344;}
.blog-gallery figure { float: left;width: 30%; margin: 0 15px 0 0;}
.blog-gallery .content { float: left; width: 55%; padding: 10px 0;}
.blog-gallery ul {float: right; width: 10%;}
.blog-gallery ul li a { width: 50px; height: 50px; padding: 10px; color: #fff; font-size: 14px; text-align: center;}
.blog-gallery ul li a i { display: block; }
.blog-gallery ul li:nth-child(odd) a{background:#e0a344; }
.blog-version-2 .bx-wrapper{margin: 0;}

/*mailing list*/
.mailing .serprator-holder h2{border-color: #fff;}
.mailing .serprator-holder h2:after,
.mailing .serprator-holder h2:before{background:#fff;}
.mailing .serprator-holder p{color: #fff;}
.mail-form div{position: relative;}
.mail-form i{position: absolute;right: 10px;top:0;line-height: 40px;}
.mail-form .form-control{background:#fff;}
/*mailing list*/

/* footer styles */
.footer-holder{background: url(../images/footer-bg.jpg);padding: 40px 0;}
.working-hours li{border-bottom: 1px solid #fff;color: #fff;text-transform:capitalize; margin: 0 0 10px;padding: 0 0 2px;}
.working-hours li span{display: inline-block;margin: 0 10px 0 0}
.working-hours li .work-time{text-align: right;float: right;margin: 0;}
.footer-widget h3{color: #fff;font-weight: 500;}
.logo-widget img{margin: 0 0 30px;}
.logo-widget > a{max-width: 100%;}
.working-hours li:hover{color: #e0a344;}

/*flicker gallery widget*/
.flicker-imgs:after{ content: ''; display: block;clear: both; }
.flicker-imgs li{ float: left; width: 29.333%; margin: 5px;position: relative;}
.flicker-imgs li img{width: 100%;}
.flicker-imgs li .overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;visibility: hidden;
background:rgba(0,0,0,0.6); }
.flicker-imgs li .overlay a{font-size: 0;}
.flicker-imgs li:hover .overlay{opacity: 1;visibility: visible;}
.flicker-imgs li:hover .overlay a{font-size: 18px;color: #fff;}
.flicker-imgs li a{display: block;}
.tag-holder{clear: both;overflow: hidden;float: none;margin: -5px;}
.tag-holder li{margin: 5px; padding: 0; float: left;width: auto;line-height: 30px;}
.tag-holder li a{display: block; color: #fff; padding: 0 15px; line-height: 30px;border: 1px solid #fff;background: transparent;
text-transform: capitalize;border-radius: 3px;}
.tag-holder li a:hover{background:#e0a344;border-color: #e0a344;}
.msg-field{position: relative;}
.msg-field a{position: absolute;right: 4px; bottom: 4px; padding: 6px 12px;}
.form-control:focus{border-color:#e0a344 !important; }
.f-contact-form ::-webkit-input-placeholder {color:#fff;}
.f-contact-form :-moz-placeholder {color:#fff;}
.f-contact-form ::-moz-placeholder {color:#fff;}
.f-contact-form :-ms-input-placeholder {color: #fff;}
.f-contact-form input{height: 40px;}

/* copy right bar */
.copyright-bar{text-align: center;padding: 10px 0;}
.copyright-bar a{font-weight: bold;text-transform: capitalize;}
.copyright-bar p{color: #fff;}

/*about us page starts*/
.banner-paralax{border-top: 5px solid;padding: 20px 0 0}
.bread-crums{margin: 0 0 20px;}
.bread-crums li{display: inline-block; margin: 0 25px 0 0;font-weight:bold;text-transform: uppercase;position: relative;}
.bread-crums li:last-child{margin: 0;}
.bread-crums li:after{content: '/';color: #fff;position: absolute;right: -20px;}
.bread-crums li:last-child:after{content: '';padding: 0;}
.bread-crums li a{color: #fff;}
.banner-content h3{border-bottom: 5px solid;display: inline-block;margin: 0;padding: 0 0 15px;color: #fff;font-size: 30px;}

/* success jumbo */
.success-jumbo{background:url('../images/success-bg.png');
background-repeat:;}
.success-jumbo figure{}
.success-jumbo .justify-p{text-align: justify !important;}

/*team styles*/
.team-holder {padding-left: 7px; padding-bottom: 80px; max-width: 85%;}
.team-img{border:1px solid #e4e4e4; padding: 5px;}
.team-img,.team-img img{ border-radius: 50%;}
.cr-team .team-img { float: left; margin: 0 10px 0 0; }
.team-img img:hover{opacity: 0.7}
.team-img:hover{border-color: #e0a344;}
.cr-team .align-right .team-img {float: right; margin: 0 0 0 10px;}
.cr-team .align-right .team-holder {text-align: right; float: right;}
.team-info h3,
.team-info p{margin: 0 0 15px;}
.social-icons-holder li{display: inline-block;margin: 0 10px 0 0;font-size:16px;}
.social-icons-holder li a:hover{color: #e0a344;}
.social-icons-holder li:last-child{margin: 0;}
.cr-team{position: relative;}
.team-icon span{width:150px;height: 150px;border-radius: 50%;display: inline-block;line-height: 150px;font-size: 60px; }
.team-icon span:hover{color: #e0a344;}
.team-holder2:after{display: block;clear: both;content: '';}

/*counter*/
.cr-counter{text-align: center;color: #fff;text-transform: capitalize;position: relative;}
.cr-counter:before,
.cr-counter:after{content: ""; position: absolute;border-top: 1px solid; border-bottom: 1px solid;top: 10px; width: 50px;bottom: 10px;}
.cr-counter:before{left: 0;border-left: 1px solid;}
.cr-counter:after{right: 0;border-right: 1px solid;}
.cr-counter i{display: block;font-size: 90px;margin: 0 0 20px;}
.cr-counter .cr-timer{font-size: 35px;font-weight: bold;line-height: 24px;margin: 0 0 10px;}
.cr-counter span{display: inline-block;font-size: 18px;margin:-10px 0 0}

/* services */
.services-tabs li a span{display:inline-block;margin: 0 20px 0 0;color: #fff;text-transform: uppercase;font-weight: 500; width: 80px; text-align: left;}
.services-tabs li a i{width: 70px;height: 70px;display: inline-block;border-radius: 50%;font-size: 30px;
line-height: 70px;text-align: center;color: #fff;font-style: normal;}
.services-tabs li{text-align: right;margin: 0 0 20px;position: relative;}
.services-tabs ul li.active:after{position: absolute;border-left: 20px solid #e0a344;border-top: 20px solid transparent;border-bottom: 20px solid transparent;
top: calc(50% - 20px);right:-40px;content: '';z-index: 10;}
.services-tabs li:last-child{margin: 0;}
.services-tabs:after{content: '';display: block;clear: both;}
.services-tabs{padding: 80px 20px;}
.tab-contet-holder{text-align: center;}
.cr-services .tab-content{display: inline-block;width: 80%;padding: 80px 0;}

.service-catg{border-top: 1px solid #e0a344;border-bottom: 1px solid #e0a344;padding: 20px 0; float: left;width: 100%;}
.service-catg ul{float: left;width: 100%;}
.service-catg ul li{width: 33.333%; float:left;margin: 0 0 15px;text-transform:uppercase;font-weight: 500;font-size:15px;  }
.service-catg li:before{display: inline-block;font-family:FontAwesome;content: "\f058";margin: 0 7px 0 0;}
.service-catg li:nth-child(4),
.service-catg li:nth-child(5),
.service-catg li:nth-child(6){margin: 0;}

.services-inner{margin: 0 0 30px;}
.services-inner h3{margin: 0 0 25px;color: #e0a344;}
.services-inner h3 span {display: block; font-size: 18px; margin: 10px 0 0;}
.services-inner p {margin:0 0 28px;}
/*services details*/

.s-style-2{border: 1px solid  rgba( 91,61,43,0.6);border-radius: 3px;padding:30px 15px;}
.s-style-2 span{font-size: 120px;color: #e0a344;margin: 0 0 20px;display: inline-block;line-height: 1;}
.s-style-2 .icon-shovel{-ms-transform: rotate(25deg);-webkit-transform: rotate(25deg);transform: rotate(25deg);}
.s-style-2:hover h3{color: #e0a344;}
.s-style-2 .icon-bulb{font-size: 112px;}

/*contact us*/
#map{width: 100%;height: 555px;}
.map-holder{position: relative;}
.map-overlay { position: absolute; top: 0; z-index: 100; left: 0; width: 100%; height: 100%; }
.map-contact{margin: 0 0 40px;}
.map-contact h3{background: #e0a344;margin: 0;padding: 20px;color: #fff;font-size: 18px;font-weight: normal;}
.map-contact .radio-box{overflow: hidden;}
.map-contact .radio-box li{float: left; width: 50%; margin: -1px -1px 0 0; border: 1px solid #e6e6e6;}
.map-contact .radio-box li label{display: block;background: #fff;margin: 0;padding: 40px 0 30px 15px;;cursor: pointer;
min-height: 90px;}
.map-contact .radio-box input[type="radio"]{display: none;}
.map-contact .radio-box li label > span{vertical-align: top; display: inline-block; position: relative; overflow: hidden; cursor: pointer;
background: #fff; border-radius: 9px; margin: 0 7px 0 0; height: 16px; width: 16px; border: 1px solid;}
.map-contact .radio-box li strong{ font-weight: normal; font-size: 14px; line-height: 16px; display: inline-block; vertical-align: top; width: 90%;}
.radio-box li label.highlight strong{ color: #fff; }

.form-holder .form-control{background: #fff;border-radius: 0;}
.form-holder textarea{background: #fff !important;}
.cr-contact-details h3{color: #fff;padding: 20px;font-weight: 500;margin: 0;font-size: 22px;}
.cr-contact-details{color: #fff;position: relative;margin: -65px 0 0;}
.cr-contact-details ul li{margin: 0 0 5px;}
.cr-contact-details ul li a{color: #fff;}
.contact-add{position: relative;padding:20px;border-bottom: 1px solid rgba(255,255,255,0.5);}
.contact-add h4{text-transform: capitalize;font-style: italic;margin: 0 0 15px;}
.form-holder{padding: 30px;}
/*radio box*/

.map-overlay .bootstrap-select{width: 45% !important; display: block!important;}
.bootstrap-select .btn{padding: 20px;border-color: #e6e6e6;}
.bootstrap-select > .dropdown-toggle:hover,
.open>.dropdown-toggle.btn-default{background: #fff;}
.map-overlay .bootstrap-select.btn-group .dropdown-toggle .caret{top: 1px;right: -70px;height: 62px;width: 62px;background: #fff;line-height: 60px;
font-size: 19px;border: 1px solid #e6e6e6;}
.map-overlay .bootstrap-select.btn-group .dropdown-toggle .caret:before{font-family:FontAwesome;content: "\f175";font-style: normal;}
.btn-group.open .dropdown-toggle{box-shadow: none;}
.open>.dropdown-toggle.btn-default:hover{border-color: #e6e6e6;}
.map-overlay .map-select p{margin: 0 0 10px;text-transform: capitalize; padding: 10px; background: #fff; display: inline-block;}

/*project detail page starts*/
.project-slider .owl-nav{display: none;}
.owl-dots .owl-dor{width: 10px;height: 10px;background: #fff;z-index: 1000}
.projects-facts > ul > li:before{display: inline-block;font-family: FontAwesome;content: "\f05d";margin: 0 10px 0 0;font-size: 16px;}
.projects-facts > ul > li:hover:before{content: "\f058";}
.projects-facts ul li span{display: inline-block;min-width: 150px;float: right;text-align: right;}
.projects-facts ul li{text-transform: capitalize;font-size: 15px;margin: 0 0 15px;}
.projects-facts ul li:last-child{margin: 0;}
.theme-padding.project-detail-holder{ padding-bottom: 65px; }

.team-slider .item{text-align: center;}
.team-slider .item img{border-radius: 50%;margin: 0 0 20px;border: 1px solid #e4e4e4;padding: 5px;}
.team-info2 strong,
.team-info2 span{display: block;text-transform: capitalize;font-size: 16px;}
.team-info2 strong{margin: 0 0 10px;}
.project-team .owl-nav,
.test-2-slider .owl-nav{position: absolute;top: 0;}

/*test style 2*/
.test-2-slider .item{margin: 0 0 0 70px;}
.test-qoute{margin: 0 0 30px;padding:10px 15px;position: relative;}
.test-qoute:after{position: absolute;left:25px;bottom: -20px;content: '';border-top: 20px solid #f4f4f4;border-left: 20px solid transparent;
border-right: 20px solid transparent;}
.test-qoute p{margin: 0;position: relative;padding: 25px 0;}
.test-qoute p:before{background: url('../images/q-1.png') no-repeat;content:'';position: absolute;top: 0;left: 0;
padding: 15px;} 
.test-qoute p:after{background: url('../images/q-2.png') no-repeat;content:'';position: absolute;bottom: 0;right: 0;
padding: 15px;} 
.client-review img{border-radius: 50%;border:1px solid #f0f0f0;padding: 2px;float: left;margin: 0 20px 0 0;}
.client-review strong{display: block;margin: 0 0 10px;font-size: 16px;}
.client-review div{padding: 20px 0 0;text-transform: capitalize;overflow: hidden;}
/*test style 2*/

/*project grid*/
.project-image{position: relative;overflow: hidden;}
.project-image img{width: 100%;}
.project-overlay{ background:url('../images/hover.png') no-repeat; height: 100%; left: 0;overflow: hidden;
position: absolute; text-align: center; top: 0; transition: all 400ms ease-out 0s; width: 100%; z-index: 2;background-size:100% 100%;
visibility: hidden;opacity: 0;}
.project-image:hover .project-overlay{ visibility: visible; opacity: 1;}

.project-overlay ul::after{ display: block; clear: both; content: '';}
.project-overlay ul li{display: inline-block; margin-right:7px; overflow: hidden;}
.project-overlay ul li a{color: #fff; font-size: 18px; text-align: center; width: 40px; height: 40px;  line-height: 40px; background: #e0a344;}
.project-overlay ul li:first-child{ margin-top: -30px;}
.project-overlay ul li:last-child{ margin-bottom: 30px;}

.img-holder:hover .project-overlay ul li:first-child,
.img-holder:hover .project-overlay ul li:first-child{ margin-top: 0;}

.project-image:hover .project-overlay ul li:last-child,
.project-image:hover .project-overlay ul li:last-child{ margin-bottom: 0;}

.img-holder:hover img{transform:scale(1.1,1.1);}
.img-holder{position: relative;}
.blog-holder .img-holder{margin: 0 0 30px;}
.img-holder:hover .project-overlay {visibility: visible;opacity: 1}
.blog-artical{position: relative;}
.blog-artical .blog-meta{position: absolute;top: 0;right: 0;padding: 10px 0 0;}
.blog-list .blog-artical p{ margin: 0; }
.blog-list  .blog-holder { margin: 0 0 30px; }

/* sidebar */
.sidebar .widget{padding: 20px;border:1px solid #e4e4e4;margin: 0 0 30px;}
.sidebar .widget:last-child{margin: 0;}
.sidebar .widget h3{display: inline-block;font-size: 20px;}
.about-widget img{margin: 0 0 15px;}

/*categories widget*/
.categories li:before{display: inline-block;font-family: FontAwesome;content: "\f058";margin: 0 7px 0 0;}
.categories li{margin: 0 0 10px;text-transform: capitalize;}
.categories li:hover{margin-left: 5px;}
.categories li:last-child { margin: 0; }
/*categories widget*/

/*tweets widget*/
.tweets-widget li:after{content: '';display: block;clear: both;}
.tweets-widget a{display: inline-block;float: left;margin: 0 10px 0 0;width: auto;}
.tweets-widget a img{border-radius: 3px;}
.cr-tweet{overflow: hidden;}
.tweets-widget h4{margin: 0 0 10px;font-size: 14px;text-transform: none;font-weight: normal;line-height: 22px;}
.tweets-widget li{margin: 0 0 15px;}
.tweets-widget li:last-child{margin: 0;}
.tweets-widget li:hover img {opacity: 0.7;}
/*tweets widget*/

/*archieves*/
.archiev-widget li:before{display: inline-block;font-family: FontAwesome;content: "\f0d9";margin: 0 10px 0 0;}
.archiev-widget li{margin: 0 0 10px;text-transform: capitalize;}
.archiev-widget li:last-child{margin: 0;}
.archiev-widget li:hover{margin-left:5px;}
/*archieves*/

/*tags holder*/
.sidebar  .widget .tag-holder li a{background: #e0a344;color: #fff;}
/*tags holder*/

/*pagination*/
.cr-pagination .pagination{display: block; margin: 0;}
.cr-pagination ul li{margin: 0 5px 0 0;display: inline-block;border-radius: 3px;}
.cr-pagination ul li a{border-radius: 3px;color: #777;}
.cr-pagination ul li.active a{color: #fff;}
.cr-pagination{text-align: center;}
.cr-pagination ul li a:hover{color: #fff;}
.cr-pagination ul:after,
.cr-pagination:after{content: '';display: block;clear: both;}
/*pagination*/

/*blog grid*/
.blog-grid .blog-artical h3,
.blog-grid .blog-artical h5{text-align: center;margin: 0 0 20px;}
.blog-grid .blog-artical h3{margin: 0 0 10px;}
.blog-grid .blog-artical h5{color: #e0a344;}
.blog-grid .blog-holder{border: 1px solid #e4e4e4;}
.blog-grid .blog-artical{padding:30px 20px;text-align: center;}
.blog-grid .blog-holder .img-holder{margin: 0;}

/*comment seaction*/
.blog-post{background: #fff;position: relative;}
.comment-holder .img-holder{position: absolute;left: 0;top: -40px;}
.comment-holder{ position: relative;padding: 0 0 30px;}
.comment-holder:last-child{padding: 0;}
.comment-body{ background: #fff; margin: 40px 0 0 50px; padding: 20px 30px 20px 70px;
-webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);}
.comment-body p:last-child{ margin: 0;}
.comment-author{font-style: normal;font-weight: bold;float: left; margin: 0 10px 0 0;}
.comment-list .comment-holder:after{display: block;clear: both;content: '';}
.children{padding: 30px 0 0 100px;}
.comment-img{position: relative;}
.comment-meta{margin: 0 0 10px;}
.comment-form .form-control { background: #f0f0f0; }
.comment-form {margin: 30px 0 0;}
.comment-form h3{font-size: 22px;}
/*comment seaction*/

/*comming soon*/
.comming-soon{text-align: center;background: url('../images/countdown.png') #e0a344;background-size: cover;}
.count-holder{display: inline-block;}
.comming-soon-wrap .img-wrapper {padding: 0 0 40px}

/*auther info*/
.cr-auther{position: relative;border: 1px solid #e4e4e4!important;padding: 63px 15px 15px 15px;margin: 0 0 80px;}
.auther-info{float: left;margin: 0 30px 0 0;text-align: center;}
.auther-info span{display: block;font-size: 15px;text-transform: capitalize;color: #e0a344;}
.cr-auther .detail{overflow: hidden;background:#f6f6f6;padding: 10px;}
.cr-auther .detail p{margin: 0;}
.cr-auther .img-holder{position: absolute;left: calc(50% - 40px);bottom: 70%;}
.blog-main .blog-holder{margin: 0 0 80px;}
.img-overlay { position: absolute; left: 0; top: 0;}
.social-icon-holder { display: inline-block; position: relative; z-index: 10;}
.social-icon-holder li{ margin: 0 0 2px; display: block;}
.social-icon-holder li a{font-size: 12px; height: 40px; width: 40px; background: #e0a344; line-height: 40px; text-align: center;
font-size: 18px; color: #fff;}
.social-icon-holder.small li { margin: 0 0 1px; }
.social-icon-holder.small li a{width: 25px; height: 25px; line-height: 25px; font-size: 12px;}
.cr-auther .blog-s-icons{left: initial;right: 0;}
.auther-info strong{text-transform: uppercase;font-size: 16px;display: block;margin: 0 0 15px;}
/*auther info*/

.qoute{border-left: 5px solid;padding: 0 0 0 10px;}

/*responsive navigation*/
.responsive-menu .cross{font-size: 22px;padding: 10px;cursor: pointer;}
.res-navigation li a{display: block;padding: 10px 15px;font-size: 15px; text-transform: capitalize;}
.responsive-menu .logo{text-align: center;margin: 60px 0;}
.aside-search{position: relative;padding: 10px;margin: 20px 0;}
.aside-search a{position: absolute;right: 20px;top: calc(50% - 10px);font-size: 18px;}
.sub-list{padding: 0 0 0 30px;}
.res-navigation li a:hover{color: #fff;}
.aside-search input{border: 1px solid #f0f0f0;}
.res-nav-holder a{float: left;}
.res-nav-holder span{float: right;}
.res-nav-holder:after{content: '';display: block;clear: both;}
.res-btn{cursor: pointer;font-size: 18px;color: #e0a344;}
.primary-header-2 .social-icons{display: inline-block;}
.nav-holder .res-btn{display: none;font-size: 26px;line-height: 50px;}
.home-2-login{font-size: 18px;margin: 0 0 0 10px;display: none;}

/*search bar*/
#search-modal .modal-content{border: 0;box-shadow: none;border-radius: 0;background: #fff;}
#search-modal .modal-content .close{color: #fff;font-size: 16px;margin: 0 0 20px;font-weight: 100;}
#search-modal .form-control{border: 1px solid #e4e4e4;box-shadow: none;border-radius: 0;height: 50px;}
#search-modal .modal-footer{border: 0;text-align: center;}
.modal-backdrop.in{opacity: .8;}
#search-modal .modal-header h4{color: #fff;}
#search-modal .modal-header{border: 0;}
.search-modal.modal{text-align: center;padding: 0!important;}
.search-modal.modal:before {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -4px;}
.search-modal .modal-dialog {display: inline-block;text-align: left;vertical-align: middle;}

/*login register*/
.login-holder{margin: 0 0 0 15px;}
.login-holder ul li{display: inline-block;position: relative;font-size: 16px;line-height: 45px;}
.login-holder ul li::after{content: '/';padding: 0 5px;}
.login-holder ul li:last-child::after{content: '';}
.login-modal .tab-content{background:#e0a344;padding: 20px; }
.login-modal .tab-content .form-control{background: #fff;}
.login-modal .modal-content .nav li{width: 50%;margin: 0 0 -3px; cursor: pointer;}
.login-modal .modal-content .nav li.active a{background:#e0a344;border: 0;}
.login-modal .modal-content .nav li a{background: #fff;border: 0;margin: 0;padding: 20px;}
.login-modal .nav h4{margin: 0;text-align: center;}
.login-modal .modal-content{background: none;}
.login-modal .bootstrap-select .btn{padding: 12px;border-radius: 3px;}
.modal-btn .theme-btn{width: 100%;text-align: center;}
.modal-btn .theme-btn:after{background: #fff;}
.modal-btn .theme-btn:hover{border-color: #fff;}
.login-modal .modal-dialog{margin: 100px auto;}
.login-form .checkbox{float: left;margin: 0;}
.login-form .checkbox label{color: #fff;}
.login-form .forgetpassword{float: right;color: #fff;}
.login-form .checkbox input{height: initial;}
.form-group:after{display: block;clear: both;content: '';}
.modal-social > span{display: block;text-align: center;margin:15px 0 10px 0;}
.modal-social{text-align: center;}
.login-form .reg{display: block;border-top: 1px solid;padding: 10px 0 0;text-align: center;color: #fff;}

/*faq page*/
.post-formets .form-control{border: 1px solid #e4e4e4;}
.post-formets h3{margin: 0 0 10px;}
.faqs-area li h4{background: #f2f2f2 none repeat scroll 0 0;border: 1px solid #e5e5e5;cursor: pointer;font-size: 16px;line-height: 1.5;
margin: 0;padding: 15px 10px 15px 25px;position: relative;text-transform: uppercase;font-weight: 400;}
.faqs-area li h4::after, .faqs-area li h4::before{color: #333;content: "-";font-size: 30px;height: 100%;margin-top: -21px;opacity: 0;position: absolute;
right: 0;text-align: center;top: 50%;width: 50px;}
.faqs-area li h4::before{content: "+";opacity: 1;}
.faqs-area [aria-expanded="true"] h4::before{opacity: 0;}
.faqs-area [aria-expanded="true"] h4::after{opacity: 1;color: #fff;}
.faqs-area [aria-expanded="true"] h4 {color:#fff;border-color: transparent;}
.faqs-dsc {border: 1px solid;border-top: 0;padding: 20px;}
.faqs-area .panel-group { margin: 0; }
/*404*/
.error-holder > span{display: block;}
.error-holder span a{text-transform: uppercase;text-decoration: underline;font-weight: bold;}
.error{display: inline-block;padding: 30px 60px;position: relative;border: 5px solid #e0a344;margin: 0 0 20px;
border-top-left-radius: 30px;border-bottom-right-radius: 30px; padding-top: 0;}
.error > span{display: block;text-transform: uppercase;font-size: 37px;font-weight: bold;position: absolute;
left: 25%;top: 42px;}
.error h2 span{color: #e0a344;font-size: 200px; -ms-transform: rotate(10deg);-webkit-transform: rotate(10deg);
transform: rotate(10deg);display: inline-block;}
.error h2{font-size: 150px;margin: 0 0 15px;position: relative;}
.error h2:before{content: 'error';display: block;font-size:34px;top: 27px;left:13%;text-align: left;position: absolute; }
.error h2:after{content: 'ooooooops...!';display: block;font-size:16px;bottom: 8px;left:15%;text-align: left;position: absolute;
text-transform: capitalize; }
.error p{margin: 0;}
.error strong{font-size: 20px;display: block;text-transform: capitalize;}

/*blog version 2*/
.blog-version-2 .img-overlay { left: initial; right: 0; }
.blog-version-2 .social-icon-holder li a span { display: block; }
.blog-version-2 .social-icon-holder li a { width: 60px; height: 60px; line-height: initial; padding: 10px; font-size: 14px;}
.blog-version-2 .social-icon-holder li i { display: block; font-size: 22px; margin: 0 0 5px;}
.blog-version-2 .artical h3 { font-size: 16px; line-height: 24px;}

/*services 2*/
.box-wrapper { cursor: pointer; }
.aligncenter { text-align: center; }
.box-icon{ width: 70px; height: 70px; text-align: center; line-height: 70px; display: inline-block; color: #fff;
border-radius: 5px; font-size: 26px; margin: 0 0 15px;}
.box-wrapper:hover .box-icon { background: #e0a344; }
.box-wrapper h5 { margin: 0 0 5px; }
.box-wrapper .small { display: block; margin: 0 0 10px; }

/*home blog post*/
.skill-img{text-align: center;}
.skill{ margin:0 0 20px; float:left; width:100%;}
.skill-name{ display:block;font-size:14px; line-height:17px; padding:0 0 10px;text-transform: uppercase;font-weight: 600;}
.skill-holder{ float:left; background: #e0a344; width:100%; position:relative;}
.per{font-size: 14px; line-height: 13px; padding: 5px 7px; position: absolute; right: -20px; top: -35px;color: #fff;}
.per:after{position: absolute;content: '';border-left: 7px solid transparent;border-right: 7px solid transparent;
border-top: 7px solid #5b3d2b;bottom: -7px;left: 37%;}
.skill-bar{ height:15px; float:left; position:relative;}
.about-skills { margin: 90px 0 0; }
.progress-skill { margin: 95px 0 0; }
.progress-skill:after{ content: ''; display: block; clear: both; }

.wrap{ position: relative;}
.res-menu{ background: #fff; -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.2);}
.sub-list{padding: 0 0 0 30px;}

.res-menu-holder p .fa-heart { color: #e0a344; }
.res-menu-holder p { text-align: center; }
.res-logo-holder { margin: 50px 0; text-align: center; }

.social-style-2 {text-align: center; margin: 20px 0;}
.social-style-2 li { display: inline-block; margin: 0 6px 0 0; }
.social-style-2 li:last-child {margin: 0;}
.social-style-2 li a{ width: 40px; height:40px; line-height: 40px; text-align: center; color: #fff; border: 1px solid;}
.social-style-2 li:hover a{ background:transparent; }

.img-success{
	
}