@charset "utf-8";
/* CSS Document */

body {
	background-color:#fff;
	margin:0px;
	padding:0px;
}
.baseImageDiv {
	float:left;
	z-index:1002;
	position:absolute;
	height:417px;
	width:850px;
}
.level1ImageDiv {
	float:left;
	z-index:997;
	position:absolute;
	height:417px;
	width:850px;
}
.level2ImageDiv {
	float:left;
	z-index:999;
	position:absolute;
	padding-left: 550px;
	padding-top: 100px;
}
.level3ImageDiv {
	float:left;
	z-index:999;
	position:absolute;
	padding-left: px;
	padding-top: 110px;
}
.shadowImageDiv {
	float:left;
	z-index:1000;
	position:absolute;
}
.clear {
	clear:both;
}
.rmarg {
	margin-left: -3px;
}