/*
  [Master Stylesheet]
 @Author: Theme786
 @URL: http://Theme786.com
 version: 1.1
 Last change: 3/7/2019[set table of centent]
 This file contains the styling for the actual theme, this
 is the file you need to edit to change the look of the
 theme.
 However we used Less script to make things easy to maintain, this is the compressed ourput, we recommend to edit the less files and then recombile the files and add the result here, if you don't like to use less you can edit this file here.
 
 This files contents are outlined below.
 01.	Google Font
 02.	Import Other Css
 03.	Theme Reset Style
 04.	Global Elements
*/

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header         /      #header
3. Navigation     /      #nav-holder
4. Slider         /      #tp-banner-container
5. Content       /       #main-content
6. Footer        /       #footer
7. Slide Menu    /       #res-menu
8. login modal   /       #login-modal
9. Service       /       #services-tab
10.Testtimonial holder/  #client-area
11.project filter /      #cr-filterbale-nav
12.BLog           /      #project-overlay
13.map holder     /
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
# [Color codes]



# lite brown (header) #e0a344
# Brown (top navigation) #5b3d2b
# Mid grey: #666666
# */


/****** Theme Reset Style ******/
body{ background:url(../images/banner-parralax2.jpg); ; background-attachment: fixed; color: #5b3d2b; font-size: 14px;font-family: 'Lora', serif;font-weight: normal;}
body h1, body h2, body h3, body h4, body h5, body h6 { font-family: 'Lora', serif; color: #fafafa !important; margin: 0 0 15px;font-weight: bold;text-transform: capitalize;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{ color: #fafafa !important;}

p{ letter-spacing: 0.7px; margin-bottom: 15px; font-size: 14px; font-family: 'Lora', serif;
font-weight: 400;}
p a{ color: #fafafa !important;}
p a:hover{ text-decoration:underline; outline: none;}

a{ color: #5b3d2b; text-decoration: none; outline: none; display: inline-block;}
a:hover, a:focus, a:active { outline: none; text-decoration: none;}

header{
	position: relative;
	width:100%;
	margin: 20px auto;
	padding: 10px;
	background: #fff;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logo{
	height: 60px;
	font-size: 36px;
	line-height:60px;
	padding: 0 20px;
	
	text-align: center;
	box-sizing: border-box;
	float:left;
	font-weight: 700;
	text-decoration: none;   

	}
nav{
	float: right;
}	
.clearfix{
	clear: both;
}
nav ul{
	margin: 0;
	padding: 0;
	display:flex;
}
nav ul li{
	list-style:none; 
}
nav ul li a{
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	text-decoration: none;
	color:#262626; 
}
nav ul li a.active,
nav ul li a:hover{
	background:#069370;
	color: #fff;
	transition: 0.5s;
}

@media(max-width: 1200px){
	header{
		margin: 20px;
	}
}
@media(max-width: 768px){

	.menu-toggle{
		display: block !important;
		width: 40px;
		height: 40px;
		margin: 10px;
		
		float: right;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
	}
	.menu-toggle:before{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 40px;
	}
	.menu-toggle.active:before{

		content: '\f00d';
		
	}
	nav{
		display: none;
	}
	nav.active{
		display:block;
		width: 100%;
	}
	nav.active ul{
        display: block;
	}
	nav.active ul li a{
        margin: 0px;
	}
}