/* Template Name: Company
   Author: admin
   Created: Oct 2019
   Description: Master CSS file
*/

* {
	padding: 0px;
	margin: 0px;
}



/* eyebrow banner styles */

.eyebrow-banner {
	padding-top: 10px;
	width: 65%;
	float: right;
}

.eyebrow-banner span p {
	width: 33.33%;
	float: left;
	text-align: center;
	border-right: 1px solid;
	color: #8d8d8d;
	font-size: 22px;
}

.eyebrow-banner span p.country {
	border-right: 0px !important;
}


/* main-banner */

.main-banner {
	width: 100%;
}

.navbar-brand img {
	max-width: 162px;
	height: auto;
}

.navbar-expand-lg .navbar-nav .nav-item {
	padding: 1px 20px !important;
}

.nav-link.active {
	border-bottom: 3px solid #616161;
}

.navbar-nav {
	margin-top: 58px;
}

.navbar-nav>.nav-item>.nav-link {
	color: #5b5b5b !important;
	font-size: 20px;
}

.new-arrivals h2 {
	font-size: 60px;
	color: #343434;
	font-weight: normal;
}

.new-arrivals-price h2 {
	font-size: 42px;
	color: #010101;
	font-weight: normal;
	padding-left: 42px;
}

.new-arrivals-price p {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.img-wrapper-shirt img {
	max-width: 100%;
}


/* our promise */

.our-promise {
	padding-bottom: 50px;
}

.our-promise-sec-1 h3.text-center {
	font-size: 23px;
}


/* our team */

.our-team {
	padding-top: 50px;
	padding-bottom: 30px;
	width: 100%;
}

.circle-shape {
	max-width: 102px;
	height: 102px;
	background-color: #666666;
	border-radius: 50%;
}

.border-right-our-team {
	border-right: 1px solid #666666;
}


/* footer */

.bg-black {
	background-color: #000;
}

footer img {
	width: 80px;
	height: 40px;
	float: left;
	margin-left: 17px;
}

footer ul {
	list-style-type: none;
}

footer ul li {
	float: left;
	width: 25%;
	text-align: center;
	color: white;
}

.footer-copyright {
	width: 72%;
	float: right;
	color: #fff;
	padding-top: 33px;
}

.footer-copyright p {
	width: 20%;
	float: left;
	margin-left: 13px;
}

i.fa.fa-copyright {
	float: left;
	color: #fff;
	padding-top: 6px;
	margin-left: 160px;
}


/* owl carousel */

.carousel-wrap {
	margin: 90px auto;
	padding: 0 5%;
	width: 80%;
	position: relative;
}

.carousel-wrap {
	margin: 90px auto;
	padding: 0 5%;
	width: 80%;
	position: relative;
}


/* fix blank or flashing items on carousel */

.owl-carousel .item {
	position: relative;
	z-index: 100;
	-webkit-backface-visibility: hidden;
}

.owl-dots {
	display: none;
}


/* end fix */

.owl-nav>div {
	margin-top: -26px;
	position: absolute;
	top: 50%;
	color: #cdcbcd;
}

.owl-carousel .owl-item img {
	width: 76px !important;
	margin: 0 auto;
}

.owl-nav i {
	font-size: 52px;
}

.owl-nav .owl-prev {
	left: -30px;
}

.owl-nav .owl-next {
	right: -30px;
}

.owl-carousel .owl-stage-outer {
	width: 91%;
	display: block;
	margin: 0 auto;
}

.carousel-wrap {
	width: 100%;
}

.carousel-control-prev {
	left: -30px !important;
}

.carousel-control-next {
	right: -24px !important;
}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 400px) {
	.circle-shape {
		height: 80px !important;
	}
}

@media (max-width: 575.98px) {
	.eyebrow-banner span p {
		font-size: 14px;
	}
	.carousel-control-prev {
		left: -15px !important;
	}
	.carousel-control-prev img {
		height: 32px
	}
	.carousel-control-next {
		right: -15px !important;
	}
	.carousel-control-next img {
		height: 32px
	}
	.new-arrivals-price {
		text-align: center;
	}
	i.fa.fa-copyright {
		margin-left: 15px;
	}
	.circle-shape {
		max-width: 96px;
		height: 92px;
		margin-right: 13px;
	}
	.eyebrow-banner {
		width: 100%;
	}
	.owl-arrow-1 {
		width: 65%;
	}
	.owl-nav .owl-next {
		right: -55px;
	}
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
	.eyebrow-banner span p {
		font-size: 16px;
	}
	.eyebrow-banner {
		width: 100%;
	}
	.new-arrivals-price h2,
	p {
		text-align: center;
	}
	.new-arrivals-price p {
		padding-bottom: 20px;
	}
	.new-arrivals-price {
		padding: 24px 0px;
	}
	i.fa.fa-copyright {
		margin-left: 36px;
	}
	.carousel-control-prev {
		left: -15px !important;
	}
	.carousel-control-prev img {
		height: 32px
	}
	.carousel-control-next {
		right: -15px !important;
	}
	.carousel-control-next img {
		height: 32px
	}
	.footer-copyright p {
		margin-left: 0px;
	}
	.owl-arrow-1 {
		max-width: 45px;
	}
	.owl-nav>div {
		top: 62%;
	}
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
	.eyebrow-banner span p {
		font-size: 14px;
	}
	.circle-shape {
		max-width: 96px;
		height: 80px;
		margin-right: 13px;
	}
	i.fa.fa-copyright {
		margin-left: 86px;
	}
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
	i.fa.fa-copyright {
		float: left;
		color: #fff;
		padding-top: 6px;
		margin-left: 100px;
	}
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
