/* Template Name: Company
   Author: admin
   Created: Oct 2019
   Description: Master CSS file
*/

* {
	padding: 0px;
	margin: 0px;
}



/* eyebrow banner styles */

.eyebrow-banner {
	padding-top: 10px;
	width: 65%;
	float: right;
}

.eyebrow-banner span p {
	width: 33.33%;
	float: left;
	text-align: center;
	border-right: 1px solid;
	color: #8d8d8d;
	font-size: 22px;
}

.eyebrow-banner span p.country {
	border-right: 0px !important;
}


/* main-banner */

.main-banner {
	width: 100%;
}

.navbar-brand img {
	max-width: 162px;
	height: auto;
}

.navbar-expand-lg .navbar-nav .nav-item {
	padding: 1px 20px !important;
}

.nav-link.active {
	border-bottom: 3px solid #616161;
}

.navbar-nav {
	margin-top: 58px;
}

.navbar-nav>.nav-item>.nav-link {
	color: #5b5b5b !important;
	font-size: 20px;
}

.new-arrivals h2 {
	font-size: 60px;
	color: #343434;
	font-weight: normal;
}

.new-arrivals-price h2 {
	font-size: 42px;
	color: #010101;
	font-weight: normal;
	padding-left: 42px;
}

.new-arrivals-price p {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.img-wrapper-shirt img {
	max-width: 100%;
}


/* our promise */

.our-promise {
	padding-bottom: 50px;
}

.our-promise-sec-1 h3.text-center {
	font-size: 23px;
}
.carousel-inner img {
      width: 100%;
      height: 100%;
  }

/* our team */
.customize-design-btn{
	margin-top:65%;
}
.color_wheel{
	width:40px;
}
.our-team {
	padding-top: 50px;
	padding-bottom: 30px;
	width: 100%;
}

.circle-shape {
	max-width: 102px;
	height: 102px;
	background-color: #666666;
	border-radius: 50%;
}

.border-right-our-team {
	border-right: 1px solid #666666;
}
/*efwfsd*/

/* front top right */
.btn-model-design {
	border: none;
padding: 3px 24px;

}
.btn-model-design-1 {
	border: none;
padding: 3px 39px;

}
.modal1{
	left: -155px;
			top: 50px;
			position: absolute;
			width: 94%;
}
.modal2{
	left: -465px;
	    top: 35px;
	    position: absolute;
	    width: 94%
}
.modal3{
	left: -465px;
	    top: 30px;
	    position: absolute;
	    width: 94%
}
.modal4{
	left: -465px;
	    top: 30px;
	    position: absolute;
	    width: 94%
}
.modal5{
	left:-465px;
	    top: 30px;
	    position: absolute;
	    width: 94%
}
#myModal2{
	display:none;
}
.one-one p{
	margin-bottom: 0px !important;
}
.one-one p .form-control{
	border-radius: 0px !important;
}
.focus-none:focus {
	outline: 0;
	box-shadow: none !important;
}
.font-class{
	margin-top: 0px;
		background-color: #6f7070;
		color: #fff;
		padding: 7px 10px;
}
.input-color.form-control{
	border: none !important;
	border-radius: 0px !important;
}
.modal-title.modal-color{
	padding-left: 28px;
color: #797877;
font-family: unset;
}
.demo2 .regular-checkbox {
background-color: #cc9e5d;
}
.demo2 label {
	display: inline;
	margin-bottom: 0px !important;
}
.demo2 .regular-checkbox {
	display: none;
}
.demo2 .regular-checkbox + label {
	background-color: #cc9e5d;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.demo2 .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.demo2 .regular-checkbox:checked + label {
	background-color: #cc9e5d;
	border: 1px solid #adb8c0;
	color: #000;
}
.demo2 .regular-checkbox:checked + label:after {
	content: '\f00c';
	font-size: 10px;
	position: absolute;
			font-family: FONTAWESOME;
	top: 0px;
	left: 3px;
	color: #fff;
}
.demo2 .big-checkbox + label {
	padding: 9px;
}
.demo2 .big-checkbox:checked + label:after {
font-size: 14px;
left: 1px;
top: -2px;
}
.demo3 .regular-checkbox {
background-color: #cc9e5d;
}
.demo3 label {
	display: inline;
	margin-bottom: 0px !important;
}
.demo3 .regular-checkbox {
	display: none;
}
.demo3 .regular-checkbox + label {
	background-color: #cc9e5d;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.demo3 .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.demo3 .regular-checkbox:checked + label {
	background-color: #cc9e5d;
	border: 1px solid #adb8c0;
	color: #000;
}

.demo3 .regular-checkbox:checked + label:after {
	content: '\f00c';	
	/* content: '✔' !important; */
	font-size: 10px;
	position: absolute;
			font-family: FONTAWESOME;
	top: 0px;
	left: 3px;
	color: #fff;
}
/* .regular-checkbox:after{
	content: '✔' !important;
	font-size: 10px;
	position: absolute;
			font-family: FONTAWESOME;
	top: 0px;
	left: 3px;
	color: #fff !important;
} */
.demo3 .big-checkbox + label {
	padding: 13px;
}
.demo3 .big-checkbox:checked + label:after {
font-size: 22px;
left: 1px;
top: -2px;
}
.demo4 .regular-checkbox {
background-color: #cc9e5d;
}
.demo4 label {
	display: inline;
	margin-bottom: 0px !important;
}
.demo4 .regular-checkbox {
	display: none;
}
.demo4 .regular-checkbox + label {
	background-color: #cc9e5d;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.demo4 .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.demo4 .regular-checkbox:checked + label {
	background-color: #cc9e5d;
	border: 1px solid #adb8c0;
	color: #000;
}
.demo4 .regular-checkbox:checked + label:after {
	content: '\f00c';
	font-size: 10px;
	position: absolute;
	font-family: FONTAWESOME;
	top: 0px;
	left: 3px;
	color: #fff;
}
.demo4 .big-checkbox + label {
	padding: 13px;
}
.demo4 .big-checkbox:checked + label:after {
font-size: 22px;
left: 1px;
top: -2px;
}
.model-content-1{
padding: 0px !important;
		width: 62% !important;
		border: none;
		border-radius: 0px;
		-webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
}
.model-content-2{
padding: 0px !important;
		width: 40% !important;
		border: none;
		border-radius: 0px;
		-webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
}
.model-content-3{
padding: 0px !important;
		width: 40% !important;
		border: none;
		border-radius: 0px;
		-webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
}
#close1{
 background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
}
#close1-1{
	background-color: transparent;
	   border: 0;
	   -webkit-appearance: none;
	   padding: 1rem;
	   margin: -1rem -1rem -1rem auto;
   }
   #close1-2{
	background-color: transparent;
	   border: 0;
	   -webkit-appearance: none;
	   padding: 1rem;
	   margin: -1rem -1rem -1rem auto;
   }
   #close1-3{
	background-color: transparent;
	   border: 0;
	   -webkit-appearance: none;
	   padding: 1rem;
	   margin: -1rem -1rem -1rem auto;
   }
   #close1-4{
	background-color: transparent;
	   border: 0;
	   -webkit-appearance: none;
	   padding: 1rem;
	   margin: -1rem -1rem -1rem auto;
   }
   #close1-5{
	background-color: transparent;
	   border: 0;
	   -webkit-appearance: none;
	   padding: 1rem;
	   margin: -1rem -1rem -1rem auto;
   }  
.visible {
    display: block;
  }
#close2{
 background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
}
#close3{
 background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
}
#close4{
 background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
}
#close5{
	background-color: transparent;
	   border: 0;
	   -webkit-appearance: none;
	   padding: 1rem;
	   margin: -1rem -1rem -1rem auto;
   }
/* footer */

.bg-black {
	background-color: #000;
}

footer img {
	width: 80px;
	height: 40px;
	float: left;
	margin-left: 17px;
}

footer ul {
	list-style-type: none;
}

footer ul li {
	float: left;
	width: 25%;
	text-align: center;
	color: white;
}

.footer-copyright {
	width: 72%;
	float: right;
	color: #fff;
	padding-top: 33px;
}

.footer-copyright p {
	width: 20%;
	float: left;
	margin-left: 13px;
}

i.fa.fa-copyright {
	float: left;
	color: #fff;
	padding-top: 6px;
	margin-left: 160px;
}


/* owl carousel */

.carousel-wrap {
	margin: 90px auto;
	padding: 0 5%;
	width: 80%;
	position: relative;
}

.carousel-wrap {
	margin: 90px auto;
	padding: 0 5%;
	width: 80%;
	position: relative;
}


/* fix blank or flashing items on carousel */

.owl-carousel .item {
	position: relative;
	z-index: 100;
	-webkit-backface-visibility: hidden;
}

.owl-dots {
	display: none;
}


/* end fix */

.owl-nav>div {
	margin-top: -26px;
	position: absolute;
	top: 50%;
	color: #cdcbcd;
}

.owl-carousel .owl-item img {
	width: 76px !important;
	margin: 0 auto;
}

.owl-nav i {
	font-size: 52px;
}

.owl-nav .owl-prev {
	left: -30px;
}

.owl-nav .owl-next {
	right: -30px;
}

.owl-carousel .owl-stage-outer {
	width: 91%;
	display: block;
	margin: 0 auto;
}

.carousel-wrap {
	width: 100%;
}

.carousel-control-prev {
	left: -30px !important;
}

.carousel-control-next {
	right: -24px !important;
}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 400px) {
	.circle-shape {
		height: 80px !important;
	}
}

@media (max-width: 575.98px) {
	.eyebrow-banner span p {
		font-size: 14px;
	}
	.carousel-control-prev {
		left: -15px !important;
	}
	.carousel-control-prev img {
		height: 32px
	}
	.carousel-control-next {
		right: -15px !important;
	}
	.carousel-control-next img {
		height: 32px
	}
	.new-arrivals-price {
		text-align: center;
	}
	i.fa.fa-copyright {
		margin-left: 15px;
	}
	.circle-shape {
		max-width: 96px;
		height: 92px;
		margin-right: 13px;
	}
	.eyebrow-banner {
		width: 100%;
	}
	.owl-arrow-1 {
		width: 65%;
	}
	.owl-nav .owl-next {
		right: -55px;
	}
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
	.eyebrow-banner span p {
		font-size: 16px;
	}
	.eyebrow-banner {
		width: 100%;
	}
	.new-arrivals-price h2,
	p {
		text-align: center;
	}
	.new-arrivals-price p {
		padding-bottom: 20px;
	}
	.new-arrivals-price {
		padding: 24px 0px;
	}
	i.fa.fa-copyright {
		margin-left: 36px;
	}
	.carousel-control-prev {
		left: -15px !important;
	}
	.carousel-control-prev img {
		height: 32px
	}
	.carousel-control-next {
		right: -15px !important;
	}
	.carousel-control-next img {
		height: 32px
	}
	.footer-copyright p {
		margin-left: 0px;
	}
	.owl-arrow-1 {
		max-width: 45px;
	}
	.owl-nav>div {
		top: 62%;
	}
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
	.eyebrow-banner span p {
		font-size: 14px;
	}
	.circle-shape {
		max-width: 96px;
		height: 80px;
		margin-right: 13px;
	}
	i.fa.fa-copyright {
		margin-left: 86px;
	}
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
	i.fa.fa-copyright {
		float: left;
		color: #fff;
		padding-top: 6px;
		margin-left: 100px;
	}
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
