body {
  background: #002b36;
  font-family: 'Roboto Mono', monospace;
}

*:focus {
  outline: none;
}

.wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 15px;
}

.form-wrap {
  position: relative;
  height: 50px;
  width: 400px;
  margin:50px;
}

input {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  padding-top: 5px;
  border: none;
  font-size: 1em;
  font-weight: 200;
  background: none;
  opacity: 0;
  font-family: 'Roboto Mono', monospace;
  transition: all 0.5s ease;
}

.active input {
  opacity: 1;
  transition: all 0.5s ease 0.5s;
}

svg {
  position: absolute;
  left: 0;
  top: 100%;
  overflow: visible;
  fill: none;
  z-index: 5;
  stroke: #fff;
  stroke-width: 3px;
}

label {
  color: #fff;
  position: absolute;
  top: 15px;
  font-size: 1.3em;
  transition: all 0.5s ease;
}

.active label {
  top: 0px;
  font-size: 1em;
  color: #FF5252;
  transition: all 0.5s ease 0.6s;
}

.active + svg {
  stroke: #FF5252;
  transition: stroke 0.4s ease 0.6s;
}

.input {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.input:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 3px;
  right: 15px;
  bottom: -50px;
  background-color: transparent;
  -webkit-transform-origin: inherit;
          transform-origin: inherit;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: bottom 0.4s ease 0.3s, background-color 0.2s ease 0.6s, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, bottom 0.4s ease 0.3s, background-color 0.2s ease 0.6s;
  transition: transform 0.4s ease, bottom 0.4s ease 0.3s, background-color 0.2s ease 0.6s, -webkit-transform 0.4s ease;
}

.input:after {
  content: "";
  position: absolute;
  height: 26px;
  width: 3px;
  right: 15px;
  bottom: -50px;
  visibility: hidden;
  background-color: transparent;
  -webkit-transform-origin: inherit;
          transform-origin: inherit;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: visibility 0.4s ease, bottom 0.4s ease 0.3s, background-color 0.2s ease 0.6s, height 0.2s ease 0.6s, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, visibility 0.4s ease, bottom 0.4s ease 0.3s, background-color 0.2s ease 0.6s, height 0.2s ease 0.6s;
  transition: transform 0.4s ease, visibility 0.4s ease, bottom 0.4s ease 0.3s, background-color 0.2s ease 0.6s, height 0.2s ease 0.6s, -webkit-transform 0.4s ease;
}

.valid:before {
  bottom: 10px;
  right: 16px;
  visibility: visible;
  background-color: #4CAF50;
  -webkit-transform-origin: inherit;
          transform-origin: inherit;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  transition: bottom 0.4s ease, -webkit-transform 0.4s ease 0.3s;
  transition: bottom 0.4s ease, transform 0.4s ease 0.3s;
  transition: bottom 0.4s ease, transform 0.4s ease 0.3s, -webkit-transform 0.4s ease 0.3s;
}

.valid:after {
  bottom: 10px;
  height: 15px;
  visibility: visible;
  background-color: #4CAF50;
  -webkit-transform-origin: inherit;
          transform-origin: inherit;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: bottom 0.4s ease, visibility 0.4s ease 0.3s, -webkit-transform 0.4s ease 0.3s;
  transition: bottom 0.4s ease, visibility 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  transition: bottom 0.4s ease, visibility 0.4s ease 0.3s, transform 0.4s ease 0.3s, -webkit-transform 0.4s ease 0.3s;
}

.invalid:before {
  bottom: 10px;
  visibility: visible;
  background-color: #ff5252;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  transition: bottom 0.4s ease, -webkit-transform 0.4s ease 0.3s;
  transition: bottom 0.4s ease, transform 0.4s ease 0.3s;
  transition: bottom 0.4s ease, transform 0.4s ease 0.3s, -webkit-transform 0.4s ease 0.3s;
}

.invalid:after {
  height: 26px;
  bottom: 10px;
  visibility: visible;
  background-color: #ff5252;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: bottom 0.4s ease, visibility 0.4s ease 0.3s, -webkit-transform 0.4s ease 0.3s;
  transition: bottom 0.4s ease, visibility 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  transition: bottom 0.4s ease, visibility 0.4s ease 0.3s, transform 0.4s ease 0.3s, -webkit-transform 0.4s ease 0.3s;
}