/*
* http://www.jozoor.com
*/

/* Site Styles
================================================== */
body {
	background:url(main-bg.jpg);
	font-family: 'TitilliumText22LMedium', Arial, sans-serif;
	font-size:14px;
	color:#787777;
}
.wrapper{
	background:url(../img/Untitled-2.jpg);
	background-color:#999;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 320px;
	}
.padding {
	width:100%;
	display:block;
	height:5px;
}

a, .color {
	color:#666;
}

a:hover {
	color:#a90000;
}

.pic {
	max-width:440px;
	float:right;
	margin-top:-25px;
}

ul.list {
	margin-top:8px;
	list-style:none;
	padding:0;
}

ul.list li {
	padding:5px;
	line-height:25px;
}

ul.list2 {
	margin-top:8px;
	list-style:none;
	padding:0;
}

ul.list2 li {
	padding:5px;
	line-height:15px;
}

/* header */
header {
	padding:30px 0 20px 0;
	overflow: hidden;
}

.logo {
	margin-top:3px;
}

.links {
	float:right;
}

.links li {
	display:inline-block;
	margin-left:7px;
	font-family: 'TitilliumText22LBold', Arial, sans-serif;
	font-size:15px;
}
.links li a {
	padding:10px 20px 10px 35px;
	color:#fff;
	display:block;
	border-radius:5px;
	font-weight:500;
}


/* footer */
footer {
	padding:20px 0 ;
	color:#cccccc;
	font-size:14px;
	font-weight:500;
	overflow:hidden;
}


.social {
	float:right;
}

.social a {
	display:inline-block;
	opacity:.8;
}

.social a:hover {
	opacity:1;
}


.copyright {
	float:left;
	margin-left: 15px;
}

/* Navigation */

.navigation {
	padding:20px;
}

/* Content */
.content {
	 background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 5px #CCCCCC;
    margin-left: 320px;
    width: 700px;
}


/* Javascript Css Styles
====================================================*/

/* Navigation style */
#navigation {
  left: 66px;
  list-style: none;
  position: fixed;
  top: 0px;
  width:195px;
  z-index:1;
}
#navigation li {
  margin-bottom: 7px;
  width:100%;
  font-family: 'TitilliumText22LBold', Arial, sans-serif;
  font-size:17px;
}
#navigation a {
  background: #fff;
  color:#333;
  display: block;
  padding: 12px 20px;
  border-radius:5px ;
  font-weight:700;
  text-decoration:none;
}
#navigation a:hover, #navigation .current a {
	color:#fff;
    background: #e0a344;
}


.section {
  
  padding: 0;
  margin-bottom:10px;
  overflow:hidden;
}
.section p:last-child {
  margin-bottom: 0;
}

.section h1 {
	background:#e0a344;
	border-radius:5px 5px 0 0;
	color:#fff;
	font-size:21px;
	padding:7px 30px;
	font-family: 'TitilliumText22LBold', Arial, sans-serif;
	font-weight:700;
	border-bottom:1px solid #efeeee;
}
.section h1 span{
	padding:0 0 0 30px;
	color:#00AEC8;
}
.section .data {
	padding:10px 30px 20px 30px;
	font-size:14px;
}

.data h2 {
	color:#333;
}

.js .selectnav {
	float:left;
	display:none;
}

/* UiTop scroll to top page  */

#toTop:hover {
	opacity:1;
}

#toTop:active, #toTop:focus {
	outline:none;
}

/* ColorTip */
.colorTip{
	/* This class is assigned to the color tip span by jQuery */
	
	display:none;
	position:absolute;	
	left:50%;
	top:-30px;
	padding:6px;
	
	background-color:white;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-style:normal;
	line-height:1;
	text-decoration:none;
	text-align:center;
	text-shadow:0 0 1px white;
	white-space:nowrap;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.pointyTip,.pointyTipShadow{
	/* Setting a thick transparent border on a 0x0 div to create a triangle */
	border:6px solid transparent;
	bottom:-12px;
	height:0;
	left:50%;
	margin-left:-6px;
	position:absolute;
	width:0;
}

.pointyTipShadow{
	/* The shadow tip is 1px larger, so it acts as a border to the tip */
	border-width:7px;
	bottom:-14px;
	margin-left:-7px;
}

.colorTipContainer{
	position:relative;
	text-decoration:none !important;
}


/* 6 Available Color Themes */

.white .pointyTip{ border-top-color:white;}
.white .pointyTipShadow{ border-top-color:#ddd;}
.white .colorTip{
	background-color:white;
	border:1px solid #DDDDDD;
	color:#555555;
}

.yellow .pointyTip{ border-top-color:#f9f2ba;}
.yellow .pointyTipShadow{ border-top-color:#e9d315;}
.yellow .colorTip{
	background-color:#f9f2ba;
	border:1px solid #e9d315;
	color:#5b5316;
}

.blue .pointyTip{ border-top-color:#d9f1fb;}
.blue .pointyTipShadow{ border-top-color:#7fcdee;}
.blue .colorTip{
	background-color:#d9f1fb;
	border:1px solid #7fcdee;
	color:#1b475a;
}

.green .pointyTip{ border-top-color:#f2fdf1;}
.green .pointyTipShadow{ border-top-color:#b6e184;}
.green .colorTip{
	background-color:#f2fdf1;
	border:1px solid #b6e184;
	color:#558221;
}

.red .pointyTip{ border-top-color:#bb3b1d;}
.red .pointyTipShadow{ border-top-color:#8f2a0f;}
.red .colorTip{
	background-color:#bb3b1d;
	border:1px solid #8f2a0f;
	color:#fcfcfc;
	text-shadow:none;
}

.black .pointyTip{ border-top-color:#333;}
.black .pointyTipShadow{ border-top-color:#111;}
.black .colorTip{
	background-color:#333;
	border:1px solid #111;
	color:#fcfcfc;
	text-shadow:none;
}
#toTop{
	float:right;
	padding:10px;
}
.shortcode_examples{
padding:20px;
}
/*/* Media Queries
================================================== */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/*@media only screen and (min-width: 480px) and (max-width: 768px) {
	
.content{
	width:480px;
	float: right;
}
#navigation {
    left: 0;
    top: 5px;
}
.navigation{
	padding:0;
}

}
@media only screen and (max-width: 640px) {
#navigation {
 	display:none;
}
.content{
	float:none;
	margin:0 auto;
}
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/*@media only screen and (max-width: 480px) {
.content{
	width:320px;
}
.pic{
	width:100%;
}


}*/*/
*/
